<section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
  <div class="content">
    <h1>{{ section.title }}</h1>
    {{ section.content | markdownify }}
    {% if section.action %}
    <ul class="actions stacked">
      <li><a href="{{ section.action.target }}" class="button big wide smooth-scroll-middle">{{ section.action.label }}</a></li>
    </ul>
    {% endif %}
  </div>
  <div class="image">
    <img src="{{ section.image }}" alt="{{ section.image_description }}" />
  </div>
</section>
