<section class="wrapper style1 align-center" id="{{ section.name }}">
  <div class="inner">
    <h2>{{ section.title }}</h2>
    {{ section.content | markdownify }}
    {% if section.metadata %}
      <dl>
        {% for item in section.metadata %}
          <dt>{{ item.name }}</dt>
          <dd class="no-adjust">{{ item.content | markdownify }}</dd>
        {% endfor %}
      </dl>
    {% endif %}
    <hr />
    <form>
      <div class="fields">
        <div class="field">
          <input type="checkbox" name="term" id="term">
          <label for="term">我同意訂房須知</label>
        </div>
        <div class="field">
          <a href="https://traiwan.com/official/api_booking.php?id=sunnycorner" target="_blank" class="button big wide disabled" id="booking-button">開始預訂</a>
        </div>
      </div>
    </form>
  </div>
</section>
