@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/vendor';
@import 'libs/breakpoints';
@import 'libs/html-grid';

#map {
  width: 100%;
  height: 100%;

  @include breakpoint('<=large') {
    min-height: 400px;
  }
}

#booking-embed {
  width: 100%;
  height: 450px;
}

.gallery.style2 {
  article {
    width: 20rem;
  }
}

.visible-in-mobile {
  display: none;

  @include breakpoint('<=large') {
    display: block;
  }
}

dd {
  &.mobile-adjust {
    margin-left: 0;
  }

  &.no-adjust {
    margin-left: 0;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }
}

#reminder {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;

  padding: 2rem 4rem;
  background: _palette(bg);
  border-top: 1px solid _palette(border-bg);
}
