<section class="wrapper style1 align-center" id="booking">
  <div class="inner">
    <h2>訂房須知</h2>
    <p>訂房時請確切告知人數，依訂房人數入住，現場無法臨時加人加床及退訂。如違反民宿有權拒絕入住且沒收訂金。</p>
    <p>光之角落無提供寵物住宿服務，未依規定仍攜帶寵物入住，光之角落保有無條件退宿之權利，且並不退還訂金。</p>
    <dl>
      <dt>平日時段</dt><dd class="no-adjust">週日～週五</dd>
      <dt>假日時段</dt><dd class="no-adjust">週六、國定連續假日、暑假（7/1 ~ 8/31）</dd>
      <dt>定價時段</dt><dd class="no-adjust">農曆春節期間</dd>
    </dl>
    <hr />
    <form>
      <div class="fields">
        <div class="field">
          <input type="checkbox" name="term" id="term">
          <label for="term">我同意訂房須知</label>
        </div>
        <div class="field">
          <a href="https://booking.owlting.com/sunnycorner" target="_blank" class="button big wide disabled" id="booking-button">開始預訂</a>
        </div>
      </div>
    </form>
  </div>
</section>
