<section class="banner style1 orient-left content-align-left image-position-right fullscreen">
  <div class="content">
    <h1>{{ .Site.Title }}</h1>
    <p>光之角落 SunnyCorner B&B 位於花蓮市北濱街，臨近北濱公園及著名景點東大門夜市，距離花蓮市區也只需要走路十分鐘即可抵達。面對著太平洋，過個馬路就到北濱公園，可以早起吹著海風看著太陽從海平面升起，如果不想出門的人，也能夠在房間透過一整片的落地窗欣賞日出風光。</p>
    <p>光之角落只想給大家一個放鬆的地方，來到花蓮就是要逃離都市的快步調，好好享受這花蓮的慢、靜，讓自己放鬆一下。</p>
    <ul class="actions stacked">
      <li><a href="#booking" class="button big wide smooth-scroll-middle">立即訂房</a></li>
    </ul>
  </div>
  <div class="image">
    {{- $header := resources.Get "images/header.jpg" -}}
    {{- $headerSM := $header.Resize "250x webp photo q90" -}}
    {{- $headerMD := $header.Resize "500x webp photo q80" -}}
    {{- $headerLG := $header.Resize "720x webp photo q70" -}}
    {{- $headerEX := $header.Resize "1280x webp photo q60" -}}
    <img
      rel="preload"
      srcset="
        {{ ($headerSM | fingerprint).Permalink }} 500w,
        {{ ($headerMD | fingerprint).Permalink }} 768w,
        {{ ($headerLG | fingerprint).Permalink }} 1024w,
        {{ ($headerEX | fingerprint).Permalink }} 1440w
      "
      sizes="50vw"
      src="{{ ($headerSM | fingerprint ).Permalink }}"
      alt="光之角落外觀"
      />
  </div>
</section>
