<script>
  function initMap(){
    var latlng={lat:23.976787,lng:121.616496};
    var mapOptions={
      zoom:16,
      center:latlng,
      mapTypeId:google.maps.MapTypeId.ROADMAP
    };

    var map = new google.maps.Map(document.getElementById("map"),mapOptions);

    var markerOptions={
      position:latlng,
      map:map
    }

    var marker = new google.maps.Marker(markerOptions);
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ .Site.Params.googleMapKey }}&callback=initMap"type="text/javascript"></script>
